<h1>Login</h1>
<hr>

<%= form_for @login do |f| %>
	<p>
		<%=f.label "Enter Username or email:" %>
		<%=f.text_field :login , { class: 'loginField' } %>
	</p><p>
		<%=f.label "Password:" %>
		<%=f.text_field :password, { class: 'loginField' } %>
	</p><p id="linkGroup">
		<%=f.submit "Login" %>
	</p>
<% end %>

<hr>
<p id="linkGroup">
	<%= link_to "Bloggers Select Page", users_path %>
	<%= link_to "Signup!", new_user_path %>
</p>