<h1>New User</h1>

<hr>
<%= form_for @user do |f| %>
 	<p>
		<%=f.label "First Name" %>
		<%=f.text_field :fname %>
	</p><p>
		<%=f.label "Last Name" %>
		<%=f.text_field :lname %>
	</p><p>
		<%=f.label "Email" %>
		<%=f.text_field :email %>
	</p><p>
		<%=f.label "User Name" %>
		<%=f.text_field :username %>
	</p><p>
		<%=f.label "Password" %>
		<%=f.text_field :password %>
		<%=f.text_field :password_confirmation %>
	</p>
	<%=f.submit :create %> 
<% end %>