<h1>Edit Post</h1>

<p>
<% if session[:user_id].nil? %>
	<%= link_to "Login", login_path %> 
<% else %>
	<%= link_to "Logout", logout_path, method: :delete %>
<% end %>
</p>
<hr>
<%= form_for @post, html: {method: :put} do |f| %>
	<%=f.label "Post Title:" %>
	<%=f.text_field :title %>
	<p>
	<%=f.label "Content:" %>
	<%=f.text_area :body, size: '50x20' %>
	</p><p>
	<%=f.submit "Post Your Entry" %>
	</p>
<% end %>